{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top" style="background-image:url(../static/images/crop_background.jpg)">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center" >
								<br>
								<h3 class="text-wh">Agro check</h3>
								<h4 class="text-wh mx-auto my-4"><b>Get informed decisions about your farming strategy.</b></h4>
							</div>
						</div>
					</div>
				</div>
	</div>
</section>
<section style="background-image:linear-gradient(to bottom right,rgb(202, 208, 113),rgb(211, 170, 98))">
	<marquee class="text-li mx-auto mt-2"><p style="color:black;font-size:20px">Here are some questions we'll answer:&nbsp;  1. What crop to plant here?&nbsp; 2. Which disease do your crop have?&nbsp; 3. Detect whether it is crop or weed?&nbsp; 4. How much the crop produce?</p></marquee>
</section>
<!-- //banner -->

<!-- core values -->
<section class="core-value py-5">
	<div class="container py-md-4">
		<h3 class="heading mb-sm-5 mb-4 text-center"> About Us</h3>
		<div class="row core-grids">
			<div class="col-lg-6 core-left">
				<img src="{{ url_for('static', filename='images/core.jpg') }}" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<h3 class="mt-4">Improving Agriculture, Improving Lives, Cultivating Crops To Make Farmers Increase
					Profit.</h3>
				<p class="mt-3">We use state-of-the-art machine learning and deep learning technologies to help you
					guide through
					the entire farming process. Make informed decisions to understand the demographics of your area,
					understand the
					factors that affect your crop and keep them healthy for a super awesome successful yield.</p>
			</div>
		</div>
	</div>
</section>
<!-- //core values -->

<!-- Products & Services -->
<section class="blog py-5">
	<div class="container py-md-5">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Services</h3>
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
				<img src="{{ url_for('static', filename='images/s3.jpg') }}" class="img-fluid" alt="" />
				<a href="{{ url_for('crop_recommend') }}">
					<div class="blog-info">

						<h4>Crop</h4>

						<p class="mt-2"> Recommendation about the type of crops to be cultivated which is best suited
							for the respective conditions</p>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-md-6 blog-middle mt-lg-0 mt-sm-5 pt-lg-0 pb-md-5">

				<img src="{{ url_for('static', filename='images/s4.jpg') }}" class="img-fluid" alt="">

				<!-- <img src="images/s4.jpg" class="img-fliud" alt="" /> -->
				<a href="{{ url_for('disease_prediction') }}">
					<div class="blog-info">
						<h4>Crop Disease</h4>
						<p class="mt-2">Predicting the name and causes of crop disease and suggestions to cure it</p>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-sm-5 pt-lg-0 pt-md-5">

				<img src="{{ url_for('static', filename='images/s2.jpg') }}" class="img-fluid" alt="">

				<!-- <img src="images/s4.jpg" class="img-fliud" alt="" /> -->
				<a href="{{ url_for('weed_detection') }}">
					<div class="blog-info">
						<h4>Weed</h4>
						<p class="mt-2">Predicting the name of the weed</p>
					</div>
				</a>
			</div>
		</div>
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
			</div>


			<div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">
				<img src="{{ url_for('static', filename='images/2.jpg') }}" class="img-fluid" alt="" />
				<a href="{{ url_for('yield_prediction') }}">
					<div class="blog-info">

						<h4>Yield Prediction</h4>

						<p class="mt-2">It will predict how much yield should be produced</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<!--<section class="blog py-5">
	<div class="container py-md-5">
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
			</div>


			<div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
				<img src="{{ url_for('static', filename='images/2.jpg') }}" class="img-fluid" alt="" />
				<a href="{{ url_for('yield_prediction') }}">
					<div class="blog-info">

						<h4>Yield Prediction</h4>

						<p class="mt-2">It will predict how much yield should be produced</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>-->

<!-- //Products & Services -->


<!-- Creating custom grid and hover effect
<section>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="images/s2.jpg" alt="">
        <div class="overlay">
           <h2>Hover effect 1</h2>
           <a class="info" href="#">link here</a>
        </div>
    </div>
</div> -->

</html>

{% endblock %}